@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



.adr-sec p {
    font-size: 2em;
    font-family: "Nunito", sans-serif;

}

.Presentation {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #daa52033;

    & header {
        background-color: transparent;
        position: fixed;
        z-index: 1;
    }

    & .tit {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;

        & a {
            color: #fff;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            background-color: #daa520;
            padding:  10px;
            font-size: small;
            font-family: "Raleway", sans-serif;
            border-radius: 7px;
            
        }

        & a:hover {
            background-color: #2c4c23;
        }
    }

    & h1 {
        text-align: center;
        font-size: 5em;
        text-transform: capitalize;
        font-family: "Zain", sans-serif;
        z-index: 1;
        color: #fff;

    }

    & span {
        font-size: 2rem;
        padding: 10px;
        font-family: "Zain", sans-serif;
        color: #fff;
    }

    & video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: auto;
        height: auto;
        object-fit: cover;

    }
}

.palestra-sec {
    position: relative;
    margin-top: -100px;
    background-color: #fff;
    border-radius: 80px 80px 0 0;
    max-height: 1400px;
}

.palestra-top {
    border-radius: 80px 80px 0 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: #fff;
    align-self: self-start;

    & h2 {
        font-size: 4em;
        text-transform: lowercase;
    }

    & span {
        font-size: 1.5em;
        text-decoration: underline #daa520;
    }
}

.orcamento {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #48484856;
    z-index: 1;
    font-family: "Zain", sans-serif;
    display: none;


    & form {
        padding: 10px;
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 7px;

        & .topO {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            & label {
                background: red;
                padding: 5px;
                border-radius: 7px;
                color: #fff;
                opacity: 0.7;
            }

            & label:hover {
                opacity: 1;
            }
        }

        & div input, input {
            padding: 10px ;
            outline: none;
            color: black;
            border: 1px solid #22232572;
            background: #fff;
            text-transform: capitalize;
            transition: 0.3s;
            border-radius: 5px;
        }
        & div #txt-msg{
            padding: 10px ;
            width: 100%;
            min-height: 90px;
            height: 100px;
            max-height: 150px;
            outline: none;
            color: black;
            border-radius: 5px;
            background: #fff;
            text-transform: capitalize;
            text-align: start;
            transition: 0.3s;
            resize: none; 
            resize: vertical;
        }
        
        & input[type="submit"] {
            background: #daa520;
            border: 1px solid transparent;
            color: #fff;
            font-size: 15px;
            margin-bottom: 10px;
            transition: 0.5s;
            width: 100%;

        }

        & input[type="submit"]:hover {
            transform: scale(0.9);
            background-color: #2c4c23;
        }

        &  input:focus {
            border: 1px solid #2c4c23;
            box-shadow: 0px 0px 1px #2c4c23;
            transform: scale(0.9);
        }

        & input::placeholder, #text-message::placeholder {
            color: #2c4c238a;
            text-transform: lowercase;
            font-size: 14px;
            text-align: start;

        }

        & h1 {
            font-size: 2rem;
            color: black;
            word-spacing: 5px;
            text-decoration:underline;
        }        
    
    }

    & label {
        font-size: 1.2rem;
        text-transform: capitalize;
        color: black;
        word-spacing: 5px;
    }

    & .inputDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0;

    }

    & .inputFild{
        display: flex;
        flex-direction: column;
        width: 100%;
        color: black;
        background: #fff;
        text-transform: capitalize;
        margin-bottom: 10px;
    
        
        & fieldset {
            display: flex;
            align-items: center;
            padding: 10px;          
           
            & label {
                text-transform: capitalize;
                color: black;
        }

        & input {
            margin-left: 10px; 

        }
        
       
    }
    }

   
    & .top-C {
        display: flex;
        width: 100%;
        
        & div {
            margin: 0 5px;
        }
    }
}


.active {
    display: flex;
}

